<div class="room active" id="day1">

  {% include 'includes/days/headers/schedule.html' %}

  <div class="lecture">

    <p class="hour"><time>08:00</time></p>


    <p>
      <span class="track track-foyer">Minas Foyer</span>
    </p>
    <a href="#">
      <p class="talk">Credenciamento (2&ordm; Andar)</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>09:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="#">
      <p class="talk">Abertura</p>
    </a>
    <p class="speaker">Comunidade PythonMG</p>


    <p class="hour"><time>09:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-keynote">Keynote</span></p>
    <a href="#">
      <p class="talk">Keynote</p>
    </a>
    <p class="speaker">Paola Katherine</p>


    <p class="hour"><time>10:30</time></p>


    <p>
      <span class="track track-foyer">Aquamarine</span>
    </p>
    <a href="#">
      <p class="talk">Coffee Break</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>11:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#serenata-de-amor-inteligencia-artificial-usando-dados-abertos-governamentais">
      <p class="talk">Serenata de Amor: Inteligência artificial usando dados abertos governamentais</p>
    </a>
    <p class="speaker">Jessica Temporal</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#python-na-manutencao-de-mais-de-100-mil-embarcados">
      <p class="talk">Python na Manutenção de mais de 100 mil embarcados</p>
    </a>
    <p class="speaker">Tiago Assunção</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#como-nao-programar-em-python-crimes-dolosos-e-com-agravante">
      <p class="talk">Como NÃO programar em Python: crimes dolosos e com agravante</p>
    </a>
    <p class="speaker">Ryllari Santana</p>


    <p class="hour"><time>11:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#0o0-bots-automatizando-tarefas-um-funcionario-que-nao-reclama">
      <p class="talk">Bots (automatizando tarefas) um funcionário que não reclama</p>
    </a>
    <p class="speaker">Elinaldo Monteiro</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#decifrando-as-runas-dos-anoes-com-python-e-machado-de-assis">
      <p class="talk">Decifrando as Runas dos Anões com Python e Machado de Assis</p>
    </a>
    <p class="speaker">Hélio de Meira Lins</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#a-qualidade-do-ecossistema-python-e-o-que-podemos-fazer-para-mante-la">
      <p class="talk">A Qualidade do Ecossistema Python - e o que podemos fazer para mantê-la</p>
    </a>
    <p class="speaker">Bruno Rocha</p>


    <p class="hour"><time>12:15</time></p>


    <a href="#">
      <p class="talk">Almoço</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>14:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#graphql-nem-sempre-rest-e-a-melhor-alternativa-para-sua-api">
      <p class="talk">GraphQL: nem sempre REST é a melhor alternativa para sua API</p>
    </a>
    <p class="speaker">Nicolle Cysneiros</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#wrapping-c-libraries-into-python-modules">
      <p class="talk">Wrapping C libraries into Python interfaces</p>
    </a>
    <p class="speaker">Gustavo Pantuza</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#big-data-com-apache-spark-na-globocom-2">
      <p class="talk">Big Data com Apache Spark na Globo.com</p>
    </a>
    <p class="speaker">Daniela Petruzalek</p>


    <p class="hour"><time>14:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#plataforma-distribuida-de-microservicos-ou-como-a-olist-funciona">
      <p class="talk">Plataforma distribuída de Microserviços ou, como a Olist funciona</p>
    </a>
    <p class="speaker">Osvaldo Santana</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="https://speakerfight.com/events/python-brasil-13-palestras/#prevenindo-dores-de-cabeca-com-linters-e-checagens-automaticas-2">
      <p class="talk">Prevenindo dores de cabeça com linters e checagens automáticas</p>
    </a>
    <p class="speaker">Flavio Juvenal</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#criando-web-crawlers-com-scrapy-e-selenium-para-paginas-com-javascript">
      <p class="talk">Criando Web Crawlers com Scrapy e Selenium para páginas com Javascript</p>
    </a>
    <p class="speaker">Gileno Filho</p>


    <p class="hour"><time>15:20</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#python-na-infraestrutura-mysql-do-facebook">
      <p class="talk">Python na Infraestrutura MySQL do Facebook</p>
    </a>
    <p class="speaker">Artur Rodrigues</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#desafios-e-vantagens-do-trabalho-remoto-freelancer-python">
      <p class="talk">Desafios e vantagens do trabalho remoto freelancer Python</p>
    </a>
    <p class="speaker">Julio Melanda</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#redes-neurais-com-python-e-scikit">
      <p class="talk">Redes Neurais com Python e Scikit</p>
    </a>
    <p class="speaker">Bianca Rosa</p>


    <p class="hour"><time>16:00</time></p>


    <p>
      <span class="track track-foyer">Aquamarine</span>
    </p>
    <a href="#">
      <p class="talk">Coffee Break</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>16:30</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-lightning-talk">Lightning Talk</span></p>
    <a href="#">
      <p class="talk">Lightning Talks</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>17:10</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-keynote">Keynote</span></p>
    <a href="#">
      <p class="talk">Keynote</p>
    </a>
    <p class="speaker">Manuel Kaufmann</p>


    <p class="hour"><time>18:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="#">
      <p class="talk">Encerramento</p>
    </a>
    <p class="speaker">Comunidade PythonMG</p>


  </div>
</div>
