<div class="room" id="day2">
  {% include 'includes/days/headers/schedule.html' %}
  <div class="lecture">

    <p class="hour"><time>08:30</time></p>


    <p>
      <span class="track track-foyer">Minas Foyer</span>
      <span class="track track-foyer">2&ordm; Andar</span>
    </p>
    <a href="#">
      <p class="talk">Credenciamento</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>09:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-lightning-talk">Lightning Talk</span></p>
    <a href="#">
      <p class="talk">Lightning Talks</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>09:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-keynote">Keynote</span></p>
    <a href="#">
      <p class="talk">Keynote</p>
    </a>
    <p class="speaker">Rodolpho Eckhardt</p>


    <p class="hour"><time>10:30</time></p>


    <p>
      <span class="track track-foyer">Aquamarine</span>
    </p>
    <a href="#">
      <p class="talk">Coffee Break</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>11:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#agilizando-o-ciclo-de-desenvolvimento-de-software-com-a-ajuda-de-testes-unitarios">
      <p class="talk">Agilizando o ciclo de desenvolvimento de software com a ajuda de testes unitários</p>
    </a>
    <p class="speaker">Paula Grangeiro</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#salvando-grandes-projetos">
      <p class="talk">Salvando grandes projetos</p>
    </a>
    <p class="speaker">Lais Varejão</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#kivy-python-no-celular-e-em-varios-outros-lugares-5">
      <p class="talk">Kivy: Python no celular e em vários outros lugares!</p>
    </a>
    <p class="speaker">Diego &quot;Dukão&quot; Guimarães</p>


    <p class="hour"><time>11:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#the-walking-dev">
      <p class="talk">The Walking Dev</p>
    </a>
    <p class="speaker">Henrique Bastos</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#django-e-reactjs-trabalhando-juntos-intermediario-django-reactjs">
      <p class="talk">Django Migrations: para entender e perder o medo</p>
    </a>
    <p class="speaker">Kátia Nakamura</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#descomplicando-os-mocks-3">
      <p class="talk">Descomplicando os mocks</p>
    </a>
    <p class="speaker">Douglas Bastos</p>


    <p class="hour"><time>12:15</time></p>


    <a href="#">
      <p class="talk">Almoço</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>14:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#concorrencia-e-paralelismo-threads-multiplos-processos-e-asyncio-2">
      <p class="talk">Concorrência e Paralelismo - Threads, Múltiplos processos e ASYNCIO</p>
    </a>
    <p class="speaker">Diogo Martins</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="#">
      <p class="talk">Associação Python Brasil</p>
    </a>
    <p class="speaker">Associados</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#genero-e-numero-python-ajudando-nas-questoes-de-genero-brasileiras">
      <p class="talk">Gênero e Número: Python ajudando nas questões de gênero brasileiras</p>
    </a>
    <p class="speaker">Álvaro &quot;Turicas&quot; Justen</p>


    <p class="hour"><time>14:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#python-ciencia-dos-dados-e-redes-sociais-uma-combinacao-poderosa-2">
      <p class="talk">Python, ciência dos dados e redes sociais: uma combinação poderosa</p>
    </a>
    <p class="speaker">Alice Adativa</p>


    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="#">
      <p class="talk">Associação Python Brasil</p>
    </a>
    <p class="speaker">Associados</p>


    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#generators-e-programacao-assincrona-com-python">
      <p class="talk">Generators e Programação Assincrona com Python</p>
    </a>
    <p class="speaker">Thomaz Reis</p>


    <p class="hour"><time>15:20</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#analise-de-imagens-e-machine-learning-utilizando-python-e-opencv-python-cientifico">
      <p class="talk">Análise de imagens e machine learning utilizando Python e openCV</p>
    </a>
    <p class="speaker">Paula Santos</p>


    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="#">
      <p class="talk">Associação Python Brasil</p>
    </a>
    <p class="speaker">Associados</p>

    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#python-runtime-sem-gil-em-golang-grumpy">
      <p class="talk">Python Runtime sem GIL em Golang: Grumpy</p>
    </a>
    <p class="speaker">Alan Justino</p>


    <p class="hour"><time>16:00</time></p>


    <p>
      <span class="track track-foyer">Aquamarine</span>
    </p>
    <a href="#">
      <p class="talk">Coffee Break</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>16:30</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-lightning-talk">Lightning Talk</span></p>
    <a href="#">
      <p class="talk">Lightning Talks</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>17:10</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-keynote">Keynote</span></p>
    <a href="#">
      <p class="talk">Keynote</p>
    </a>
    <p class="speaker">Allison Kaptur</p>


    <p class="hour"><time>18:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="#">
      <p class="talk">Encerramento</p>
    </a>
    <p class="speaker"></p>

  </div>
  <div class="lecture" id="djangoday">
    {% include 'includes/days/headers/djangoday.html' %}
  </div>
</div>
