<div class="room" id="day3">

  {% include 'includes/days/headers/schedule.html' %}

  <div class="lecture">
    <p class="hour"><time>08:30</time></p>


    <p>
      <span class="track track-foyer">Minas Foyer</span>
    </p>
    <a href="#">
      <p class="talk">Credenciamento</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>09:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-lightning-talk">Lightning Talk</span></p>
    <a href="#">
      <p class="talk">Lightning Talks</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>09:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#padroes-arquiteturais-muito-alem-do-mvc">
      <p class="talk">Padrões Arquiteturais, muito além do MVC</p>
    </a>
    <p class="speaker">Darlene Medeiros</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#como-python-pode-ajudar-no-desenvolvimento-agil-de-software">
      <p class="talk">Previsão de séries temporais com PyData e Inteligência Artificial</p>
    </a>
    <p class="speaker">Rebeca Sarai</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#projetos-de-apis-o-que-pensar-para-apis-publicas-microservicos-e-spas">
      <p class="talk">Projetos de APIs: O que pensar para APIs Públicas, Microsserviços e SPAs</p>
    </a>
    <p class="speaker">Celso Crivelaro</p>


    <p class="hour"><time>10:15</time></p>


    <p>
      <span class="track track-foyer">Minas Foyer</span>
    </p>
    <a href="#">
      <p class="talk">Coffee Break</p>
    </a>
    <p class="speaker"></p>



    <p class="hour"><time>10:45</time></p>
    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#o-flask-roubou-meu-coracao">
      <p class="talk">O Flask roubou meu coração</p>
    </a>
    <p class="speaker">Talita Rossari</p>



    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#navegando-por-grafos-com-python">
      <p class="talk">Navegando por grafos com Python</p>
    </a>
    <p class="speaker">Bernardo Fontes</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#trabalhando-com-codigo-legado">
      <p class="talk">Trabalhando com código legado</p>
    </a>
    <p class="speaker">Renato Oliveira</p>


    <p class="hour"><time>11:25</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="https://speakerfight.com/events/python-brasil-13-palestras/#facebook-job-engine-fbje-a-framework-for-developing-scalable-workflows-in-python">
      <p class="talk">Facebook Job Engine (FBJE): a framework for developing
        scalable workflows in Python</p>
    </a>
    <p class="speaker">Navid Sheikhol</p>


    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#o-que-desenvolvedores-deveriam-aprender-sobre-design">
      <p class="talk">O que desenvolvedores deveriam aprender sobre design?</p>
    </a>
    <p class="speaker">Débora Correia</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#comecando-com-python-aprendendo-para-ensinar-a-melhor-forma-de-programar">
      <p class="talk">Começando com Python - Aprendendo para ensinar, a melhor forma de programar!</p>
    </a>
    <p class="speaker">Ana Paula Mendes</p>


    <p class="hour"><time>12:00</time></p>


    <a href="#">
      <p class="talk">Almoço</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>13:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#pyladies-e-django-girls-promovendo-a-diversidade-na-tecnologia">
      <p class="talk">PyLadies e Django Girls promovendo a diversidade na tecnologia</p>
    </a>
    <p class="speaker">Pyladies Brasil</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#a-programacao-funcional-em-python-de-forma-simples-2">
      <p class="talk">A Programação Funcional em Python, de forma simples</p>
    </a>
    <p class="speaker">Anderson Resende</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#automatizando-provisionamento-de-rede-em-data-centers-com-arquitetura-spine-and-leaf-com-python">
      <p class="talk">Provisionamento de redes no data center Globo.com com Python</p>
    </a>
    <p class="speaker">Laura Panzariello</p>


    <p class="hour"><time>14:20</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#o-fim-de-uma-era-os-desafios-de-transformar-um-monolito-de-8-anos-em-microservicos">
      <p class="talk">O fim de uma era: os desafios de transformar um monolito de 8 anos em microserviços</p>
    </a>
    <p class="speaker">Rael Max</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="#">
      <p class="talk">Python e tipagem estática</p>
    </a>
    <p class="speaker">Carlos Henrique Coêlho</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#usando-python-e-django-para-ampliar-a-democracia-digital">
      <p class="talk">Usando Python e Django para ampliar a democracia digital</p>
    </a>
    <p class="speaker">Matheus Souza Fernandes</p>


    <p class="hour"><time>15:00</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#quase-tudo-que-voce-precisa-saber-sobre-tarefas-assincronas-2">
      <p class="talk">(Quase) Tudo que você precisa saber sobre tarefas assíncronas</p>
    </a>
    <p class="speaker">Filipe Ximenes</p>




    <p>
      <span class="track track-auditorio2">Sala Amethyst</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#linha-de-comando-como-ser-bem-implementada-e-segura">
      <p class="talk">Linha de Comando: como ser bem implementada e segura</p>
    </a>
    <p class="speaker">Carla Souza</p>




    <p>
      <span class="track track-auditorio3">Sala Chrystal</span>
    </p>
    <a href="http://speakerfight.com/events/python-brasil-13-palestras/#geometria-diferencial-computacional-com-python-e-svg-as-curvas-da-bosta">
      <p class="talk">Geometria Computacional de Diferencial com Python e SVG: As Curvas da Bosta</p>
    </a>
    <p class="speaker">Ole Peter Smith</p>


    <p class="hour"><time>15:40</time></p>


    <p>
      <span class="track track-foyer">Minas Foyer</span>
    </p>
    <a href="#">
      <p class="talk">Coffee Break</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>16:10</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-lightning-talk">Lightning Talk</span></p>
    <a href="#">
      <p class="talk">Lightning Talks</p>
    </a>
    <p class="speaker"></p>


    <p class="hour"><time>16:50</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
      <span class="track track-keynote">Keynote</span></p>
    <a href="#">
      <p class="talk">Keynote</p>
    </a>
    <p class="speaker">Andrew Godwin</p>


    <p class="hour"><time>17:40</time></p>


    <p>
      <span class="track track-auditorio1">Sala Aventurine e Alexandrite</span>
    </p>
    <a href="#">
      <p class="talk">Encerramento Oficial</p>
    </a>
    <p class="speaker"></p>


  </div>    
</div>
