<div class="room" id="day4">

  {% include 'includes/days/headers/tutorial.html' %}

  <div class="lecture">
    <p class="hour"><time>08:00</time></p>
    <p><span class="track track-tutorials">labs[0]</span>
      <span class="track track-tutorials">labs[1]</span></p>
    <a href="#">
      <p class="talk">Django Girls</p>
    </a>
    <p class="speaker">Django Girls Brasil</p>

    <p><span class="track track-tutorials">salas[0]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#aprenda-flask-criando-um-cms-e-suas-extensoes-what-the-flask">
      <p class="talk">Aprenda Flask criando um CMS e suas extensões. What The Flask?</p>
    </a>
    <p class="speaker">Bruno Rocha</p>

    <p><span class="track track-tutorials">salas[1]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#introducao-aos-modulos-de-analise-de-dados">
      <p class="talk">Introdução aos Módulos de Análise de Dados</p>
    </a>
    <p class="speaker">Letícia Portella e Jessica Temporal</p>

    <p><span class="track track-tutorials">salas[2]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#dockerizando-suas-aplicacoes-python">
      <p class="talk">Dockerizando suas aplicações Python</p>
    </a>
    <p class="speaker">Felipe Morais</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="speaker">Almoço</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>
    <p><span class="track track-tutorials">labs[0]</span>
      <span class="track track-tutorials">labs[1]</span></p>
    <a href="#">
      <p class="talk">Django Girls</p>
    </a>
    <p class="speaker">Django Girls Brasil</p>

    <p><span class="track track-tutorials">salas[0]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#aprenda-flask-criando-um-cms-e-suas-extensoes-what-the-flask">
      <p class="talk">Aprenda Flask criando um CMS e suas extensões. What The Flask?</p>
    </a>
    <p class="speaker">Bruno Rocha</p>

    <p><span class="track track-tutorials">salas[1]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#testes-os-primeiros-passos">
      <p class="talk">Testes: os primeiros passos</p>
    </a>
    <p class="speaker">Roberta Takenaka</p>

    <p><span class="track track-tutorials">salas[2]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#criando-meu-primeiro-jogo-com-python">
      <p class="talk">Criando meu primeiro jogo com Python</p>
    </a>
    <p class="speaker">Julio Melanda</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>18:00</time></p>
    <p class="speaker">Término</p>
  </div>
</div>
