<div class="room" id="day5">

  {% include 'includes/days/headers/tutorial.html' %}

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-tutorials">salas[0]</span></p>
    <a href="#">
      <p class="talk">DjangoBrasil</p>
    </a>
    <p class="speaker">Comunidade DjangoBrasil</p>

    <p><span class="track track-tutorials">salas[1]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#curso-basico-de-python-para-iniciantes">
      <p class="talk">Curso Básico de Python para Iniciantes</p>
    </a>
    <p class="speaker">PyLadies São Paulo</p>

    <p><span class="track track-tutorials">salas[2]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#introducao-a-raspagem-de-dados">
      <p class="talk">Introdução à Raspagem de Dados</p>
    </a>
    <p class="speaker">Fernando Masanori</p>

    <p><span class="track track-tutorials">salas[3]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#apis-inteligentes-com-api-star">
      <p class="talk">APIs Inteligentes com API Star</p>
    </a>
    <p class="speaker">Nicolle Cysneiros</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="speaker">Almoço</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>
    <p><span class="track track-tutorials">salas[0]</span></p>
    <a href="#">
      <p class="talk">DjangoBrasil</p>
    </a>
    <p class="speaker">Comunidade DjangoBrasil</p>

    <p><span class="track track-tutorials">salas[1]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#curso-basico-de-python-para-iniciantes">
      <p class="talk">Curso Básico de Python para Iniciantes</p>
    </a>
    <p class="speaker">PyLadies São Paulo</p>

    <p><span class="track track-tutorials">salas[2]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#test-driven-design">
      <p class="talk">Test Driven Design</p>
    </a>
    <p class="speaker">Renato Oliveira e Bernardo Fontes</p>

    <p><span class="track track-tutorials">salas[3]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#capturando-dados-abertos-sem-dor-de-cabeca-2">
      <p class="talk">Capturando dados abertos sem dor de cabeça</p>
    </a>
    <p class="speaker">Álvaro "Turicas" Justen</p>
  </div>
</div>
