<div class="room" id="day5">

  {% include 'includes/days/headers/tutorial.html' %}

  <div class="lecture">
    <p class="hour"><time>08:30</time></p>
    <p class="speaker">Coffee Break</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-tutorials">salas[0]</span>
      <span class="track track-keynote">inscrição requerida</span></p>
    <a href="http://bit.ly/PythonIniciante_BH">
      <p class="talk">Curso Básico de Python para Iniciantes</p>
    </a>
    <p class="speaker">PyLadies São Paulo<br>Inscreva-se em <a href="http://bit.ly/PythonIniciante_BH">http://bit.ly/PythonIniciante_BH</a></p>

    <p><span class="track track-tutorials">salas[1]</span></p>
    <a href="https://speakerfight.com/events/python-brasil-13-tutoriais/#introducao-ao-git-escolinha-do-prof-samuka">
      <p class="talk">Introdução ao GIT (Escolinha do prof. Samuka)</p>
    </a>
    <p class="speaker">Samuel Sampaio</p>

    <p><span class="track track-tutorials">salas[2]</span></p>
    <a href="https://speakerfight.com/events/python-brasil-13-tutoriais/#python-web-desenvolva-sua-rest-api-complexa-em-apenas-1-dia">
      <p class="talk">Desenvolva sua Rest API complexa em 1 dia</p>
    </a>
    <p class="speaker">Felipe Samuel</p>

    <p><span class="track track-tutorials">salas[3]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#apis-inteligentes-com-api-star">
      <p class="talk">APIs Inteligentes com API Star</p>
    </a>
    <p class="speaker">Nicolle Cysneiros</p>

    <p><span class="track track-tutorials">salas[4]</span></p>
    <a href="https://speakerfight.com/events/python-brasil-13-tutoriais/#desenvolvimento-de-um-web-crawler-com-python-3">
      <p class="talk">Desenvolvimento de um Web Crawler com Python 3</p>
    </a>
    <p class="speaker">Gustavo Henrique Nunes</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:00</time></p>
    <p class="speaker">Almoço</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:00</time></p>

    <p><span class="track track-tutorials">salas[0]</span>
      <span class="track track-keynote">inscrição requerida</span></p>
    <a href="http://bit.ly/PythonIniciante_BH">
      <p class="talk">Curso Básico de Python para Iniciantes</p>
    </a>
    <p class="speaker">PyLadies São Paulo<br>Inscreva-se em <a href="http://bit.ly/PythonIniciante_BH">http://bit.ly/PythonIniciante_BH</a></p>

    <p><span class="track track-tutorials">salas[1]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#test-driven-design">
      <p class="talk">Test Driven Design</p>
    </a>
    <p class="speaker">Renato Oliveira e Bernardo Fontes</p>

    <p><span class="track track-tutorials">salas[2]</span></p>
    <a href="https://speakerfight.com/events/python-brasil-13-tutoriais/#python-web-desenvolva-sua-rest-api-complexa-em-apenas-1-dia">
      <p class="talk">Desenvolva sua Rest API complexa em 1 dia</p>
    </a>
    <p class="speaker">Felipe Samuel</p>

    <p><span class="track track-tutorials">salas[3]</span></p>
    <a href="http://speakerfight.com/events/python-brasil-13-tutoriais/#capturando-dados-abertos-sem-dor-de-cabeca-2">
      <p class="talk">Capturando dados abertos sem dor de cabeça</p>
    </a>
    <p class="speaker">Álvaro "Turicas" Justen</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>17:00</time></p>
    <p class="speaker">Coffee Break</p>
  </div>
</div>
