.schedule-activities-projects {
  margin: -20px 0 20px 0;
  text-align: center;
}
.schedule-activities-projects p {
  color: black;
  font-size: 1em;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
.schedule-activities-projects a {
  display: inline-block;
  max-width: 100%;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  border-radius: 3px;
  font-family: "Panton Bold";
  font-size: .875em;
  color: #fff;
  background-color: #F0CB1F;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 0 1em;
  margin: 0 3px;
}
.schedule-activities-projects a:hover {
  background-color: rgba(240, 203, 31, 0.8);
  text-decoration: none;
}
/* @Override main.css */
.schedule .schedule-description {
  color: #333;
  text-align: center;
  margin: 15px 0 40px;
  font-size: 1.1em;
}

.speakers .speakers-list .speaker {
  width: calc(30% - 5px);
}
/* Content about places */
.about {
  padding: 20px 60px;
}
.about h1 {
  color: #000;
}
.about .content {
  color: #000;
  font-family: 'Comic Sans MS';
}
.about .content h1 {
  font-size: 1.5em;
  margin: 2em 0 1em;
}
.about .content li {
  margin: 15px 10px;
}
.about .content li strong {
  font-size: 16px;
  font-weight: bold;
}
