<section class="location" id="location">
  <div class="row">
    {% include "includes/icons/maps-icon.html" %}

    <h1>Belo Horizonte - Minas Gerais</h1>
    <p><a href="https://goo.gl/maps/YkWNzVLpQmG2" target="_blank" class="link">Rua Espirito Santo, 901 - Centro</a></p>
  </div>
  <div class="row rates">
    <h2>HOSPEDAGENS DAYRELL HOTEL</h2>
    <a href="http://www.dayrell.com.br/hotel-overview.html" target="_blank" class="link subtitle">Acesse o site do Dayrell Hotel</a>
    <div class="apto">
      <p>Standard Single (diária) – R$ 175,00</p>
      <p>Standard Double (diária) – R$ 195,00</p>
    </div>
  </div>
</section>
