<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>
    <p class="schedule-description">06, 07 e 08 - Palestras | 09 e 10 - Tutoriais | 11 - Sprints</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day1" class="item-link active">Dia 06</a>
        </li>

        <li class="item">
          <a href="#day2" class="item-link">Dia 07</a>
        </li>

        <li class="item">
          <a href="#day3" class="item-link">Dia 08</a>
        </li>

        <li class="item">
          <a href="#day4" class="item-link">Dia 09</a>
        </li>

        <li class="item">
          <a href="#day5" class="item-link">Dia 10</a>
        </li>

        <li class="item">
          <a href="#day6" class="item-link">Dia 11</a>
        </li>
      </ul>
    </nav>

    {% include "includes/days/day1.html" %}

    {% include "includes/days/day2.html" %}

    {% include "includes/days/day3.html" %}

    {% include "includes/days/day4.html" %}

    {% include "includes/days/day5.html" %}

    {% include "includes/days/day6.html" %}
  </div>
</section>
