<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>
    <ul class="speakers-list">
      <li class="speaker">
        <a href="https://twitter.com/andrewgodwin" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/andrew_godwin.jpg" alt="Andrew Godwin">
          </div>

          <h2 class="speaker-name">Andrew Godwin</h2>
          <p class="speaker-description">
          Andrew is a member of the Django core team, a Senior Engineer at
          Eventbrite, and was the original author of the Django migrations
          framework, its predecessor South, and now writes and maintains the
          Channels framework alongside a suite of SOA- and
          distributed-system-related libraries.
          </p>
        </a>
      </li>
      <!--
      <li class="speaker">
        <a href="#" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/andrew_godwin.jpg" alt="Andrew Godwin">
          </div>

          <h2 class="speaker-name">Andrew Godwin</h2>
          <p class="speaker-description">
          ndrew is a member of the Django core team, a Senior Engineer at
          Eventbrite, and was the original author of the Django migrations
          framework, its predecessor South, and now writes and maintains the
          Channels framework alongside a suite of SOA- and
          distributed-system-related libraries.

          His work mostly focuses on software and systems architecture, and he
          enjoys nothing more than making systems and tools that other
          engineers can use to get their jobs done more easily, as well as
          doing talks and videos to help break down the challenges of writing
          software at distributed scale. In his spare time, he enjoys piloting
          small planes, archery, and attempting to visit every one of the USA’s
          National Parks.
          </p>
        </a>
      </li>
      -->
    </ul>
  </div>
</section>
