<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>
    <ul class="speakers-list">
      <li class="speaker">
        <a href="https://twitter.com/andrewgodwin" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/andrew_godwin.jpg" alt="Andrew Godwin" />
          </div>

          <h2 class="speaker-name" style="font-size:1.5em;">Andrew Godwin</h2>
          <p class="speaker-description">
            Andrew é desenvolvedor da equipe principal do Django, engenheiro
            sênior na Eventbrite e foi o author original do framework de <i>migrations</i> do
            Django, e de seu predecessor South. Agora escreve e mantêm o
            framework <i>Channels</i> em paralelo a um conjunto de sistemas SOA e
            bibliotecas de sistemas distribuídos.
          </p>
        </a>
      </li>
      <li class="speaker">
        <a href="https://twitter.com/reydelhumo" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/manuel-kaufmann.jpg" alt="Manuel Kaufmann" />
          </div>

          <h2 class="speaker-name" style="font-size:1.5em;">Manuel Kaufmann</h2>
          <p class="speaker-description">
            Manuel é o fundador da "Argentina en Python", organizador de cerca
            de 40 eventos para ensinar Python em mais de 5 países
            latino-americanos em suas viajens de carro. Este ano foi nomeado
            "Embaixador Python" pela Python Software Foundation por causa de
            seu trabalho na comunidade. Hoje trabalha na Mozio construindo o
            futuro do transporte terrestre.
          </p>
        </a>
      </li>
      <li class="speaker">
        <a href="https://twitter.com/akaptur" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/allison-kaptur.jpg" alt="Allison Kaptur" />
          </div>

          <h2 class="speaker-name" style="font-size:1.5em;">Allison Kaptur</h2>
          <p class="speaker-description">
            Allison é uma engenheira de software que reside em São Francisco, e trabalha para uma pequena startup que automatiza processos contábeis para empresas. Ela já trabalhou no Dropbox e no Recurse Center, um retiro educacional para programadores em Nova York e escreve para <i>akaptur.com</i>.
          </p>
        </a>
      </li>
      <li class="speaker">
        <a href="https://twitter.com/sysdharma" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/rodolpho-eckhardt.jpg" alt="Rodolpho Eckhardt" />
          </div>

          <h2 class="speaker-name" style="font-size:1.5em;">Rodolpho Eckhardt</h2>
          <p class="speaker-description">
            Engenheiro por formação, SRE por profissão, pai, hacker e
            malabarista por diversão. Trabalha no Google há dez anos,
            atualmente em Zurique como Site Reliability Engineer.
          </p>
        </a>
      </li>
      <li class="speaker">
        <a href="https://twitter.com/pk_pacheco" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/paolakatherine.jpg" alt="Paola Katherine" height="220" width="220"/>
          </div>
          <h2 class="speaker-name" style="font-size:1.5em;">Paola Katherine</h2>
          <p class="speaker-description">
            Desenvolvedora backend, agora tentando empreender com sua primeira empresa na Argentina, primeira brasileira diretora da PSF, metida a ensinar Python pelo youtube, atualmente vive em Mendoza mas é carioca mais que da gema. Co-criadora de Pyladies Mendoza e Python Mendoza. Organizou inúmeros Django Girls e é viciada nisso. Co-criadora Rio DevDay e Argentina DevDay, que são conferencias grátis como foco em estudantes e curiosos. Acredita que comunidade é sua segunda família.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
