<section class="speakers" id="speakers">
  <div class="row">
    <h1>Keynotes</h1>
    <ul class="speakers-list">
      <li class="speaker">
        <a href="https://twitter.com/andrewgodwin" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/andrew_godwin.jpg" alt="Andrew Godwin"
            style="height: 220px;" />
          </div>

          <h2 class="speaker-name" style="font-size:1.5em;">Andrew Godwin</h2>
          <p class="speaker-description">
            Andrew é desenvolvedor da equipe principal do Django, engenheiro
            sênior na Eventbrite e foi o author original do framework de <i>migrations<i> do
            Django, e de seu predecessor South. Agora escreve e mantêm o
            framework <i>Channels</i> em paralelo a um conjunto de sistemas SOA e
            bibliotecas de sistemas distribuídos.
          </p>
        </a>
      </li>
      <li class="speaker">
        <a href="https://twitter.com/reydelhumo" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/manuel-kaufmann.jpg" alt="Manuel
            Kaufmann" style="height:220px;" />
          </div>

          <h2 class="speaker-name" style="font-size:1.5em;">Manuel Kaufmann</h2>
          <p class="speaker-description">
            Manuel é o fundador da "Argentina en Python", organizador de cerca
            de 40 eventos para ensinar Python em mais de 5 países
            latinoamericanos em suas viajem de carro. Este ano foi nomeado
            "Embaixador Python" pela Python Software Foundation por causa de
            seu trabalho na comunidade. Hoje trabalha na Mozio construindo o
            futuro do transporte terrestre.
          </p>
        </a>
      </li>
      <!--
      <li class="speaker">
        <a href="#" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="/images/speakers/andrew_godwin.jpg" alt="Andrew Godwin">
          </div>

          <h2 class="speaker-name">Andrew Godwin</h2>
          <p class="speaker-description">
          ndrew is a member of the Django core team, a Senior Engineer at
          Eventbrite, and was the original author of the Django migrations
          framework, its predecessor South, and now writes and maintains the
          Channels framework alongside a suite of SOA- and
          distributed-system-related libraries.

          His work mostly focuses on software and systems architecture, and he
          enjoys nothing more than making systems and tools that other
          engineers can use to get their jobs done more easily, as well as
          doing talks and videos to help break down the challenges of writing
          software at distributed scale. In his spare time, he enjoys piloting
          small planes, archery, and attempting to visit every one of the USA’s
          National Parks.
          </p>
        </a>
      </li>
      -->
    </ul>
  </div>
</section>
