<section class="sponsors" id="sponsors" style="background-color:#fff;">
  <div class="row">
    <h1>Patrocinadores</h1>
    <p style="color:black;margin:5px 0 25px;text-align:center;">
      Saiba como apoiar a Python Brasil 13
      <br />
      <a href="https://docs.google.com/presentation/d/1-8u0QWpi5zL21zZ9xehx0wxebXHi5zE0hKNbBtU4ncI/pub?start=false&loop=false&delayms=3000" title="Plano de captação 2017" target="_blank">PT-BR</a> | <a href="https://docs.google.com/presentation/d/1eb3uOZ_B_PfG_TKG6pyNicBUZqTWjCN0YllOpX59Pxc/pub?start=false&loop=false&delayms=3000#" title="Sponsorship Plan 2017" target="_blank">EN-US</a>
    </p>
    <ul class="sponsors-list">
      <li class="item">
        <a href="http://associacao.python.org.br/" target="_blank" class="item-link">
          <p class="category">Apoio</p>
          <div class="imgs" style="padding-top:0;">
            <img src="/images/sponsors/support/apyb.png" alt="APyB">
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
