<section class="sponsors" id="sponsors" style="background-color:#fff;">
  <div class="row">
    <h1>Patrocinadores</h1>
    <p style="color:black;margin:5px 0 25px;text-align:center;font-size:1.5em;">
      Saiba como apoiar a Python Brasil 13
      <br />
      <a href="https://docs.google.com/presentation/d/1-8u0QWpi5zL21zZ9xehx0wxebXHi5zE0hKNbBtU4ncI/pub?start=false&loop=false&delayms=3000" title="Plano de captação 2017" target="_blank">PT-BR</a> | <a href="https://docs.google.com/presentation/d/1eb3uOZ_B_PfG_TKG6pyNicBUZqTWjCN0YllOpX59Pxc/pub?start=false&loop=false&delayms=3000#" title="Sponsorship Plan 2017" target="_blank">EN-US</a>
    </p>
    <ul class="sponsors-list">
      <li class="item">
        <a href="https://www.python.org/psf/" target="_blank" class="item-link" title="Python Software Foundation">
          <p class="category">Ouro</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:10em;margin-top:0.5em;" src="/images/sponsors/gold/psf.png" alt="Python Software Foundation" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="http://talentos.globo.com" target="_blank" class="item-link" title="Globo.com">
          <p class="category">Ouro</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:10em;margin-top:0.5em;" src="/images/sponsors/gold/globocom.png" alt="Globo.com" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="http://www.facebook.com/careers" target="_blank" class="item-link" title="Facebook">
          <p class="category">Ouro</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:10em;margin-top:0.5em;" src="/images/sponsors/gold/facebook.png" alt="Facebook" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="https://www.nectosystems.com.br/" target="_blank" class="item-link" title="Necto Systems">
          <p class="category">Prata</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:10em;margin-top:0.5em;" src="/images/sponsors/silver/necto.png" alt="Necto Systems" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="https://esharesinc.com/about" target="_blank" class="item-link" title="eShares">
          <p class="category">Prata</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:5em;max-width:12em;margin-top:2.5em;" src="/images/sponsors/silver/eshares.png" alt="eShares" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="http://www.labcodes.com.br/" target="_blank" class="item-link" title="Labcodes">
          <p class="category">Prata</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:10em;margin-top:0.5em;" src="/images/sponsors/silver/labcodes.png" alt="Labcodes" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="https://nuveo.ai/" target="_blank" class="item-link" title="Nuveo">
          <p class="category">Bronze</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:10em;margin-top:0.5em;" src="/images/sponsors/bronze/nuveo.png" alt="Nuveo" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="https://www.evolux.net.br/" target="_blank" class="item-link" title="Evolux">
          <p class="category">Bronze</p>
          <div class="imgs" style="padding-top:0;">
            <img style="height:10em;margin-top:0.5em;" src="/images/sponsors/bronze/evolux.png" alt="Evolux" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="http://associacao.python.org.br/" target="_blank" class="item-link" title="APyB">
          <p class="category">Apoio</p>
          <div class="imgs" style="padding-top:0;">
            <img src="/images/sponsors/support/apyb.png" alt="APyB" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="https://www.una.br/" target="_blank" class="item-link" title="UNA">
          <p class="category">Apoio</p>
          <div class="imgs" style="padding-top:0;">
            <img  src="/images/sponsors/support/una.jpg" alt="UNA" />
          </div>
        </a>
      </li>
      <li class="item">
        <a href="http://devnaestrada.com.br/" target="_blank" class="item-link" title="Dev na estrada">
          <p class="category">Apoio</p>
          <div class="imgs" style="padding-top:0;">
            <img  src="/images/sponsors/support/devnaestrada.png" alt="Dev na estrada" />
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
