{% block style %}
{{ super }}
<style type="text/css">
#sympla-widget-148343 {
  margin: 0 auto;
}
</style>
{% endblock %}

<section class="speakers" id="tickets">
  <div class="row">
    <h1>Garanta sua vaga!</h1>
    <div id="sympla-widget-148343" height="auto" style="margin:0 auto;"></div>
    <script src="https://www.sympla.com.br/js/sympla.widget-pt.js/148343"></script>
    <div style="font-size:12px">
      <strong style="font-weight:bold;font-size:14px">Observações</strong>
      <br />
      <br />
      <ul>
        <li>
          Associados deverão utilizar o mesmo email que o de sua associação junto à APyB;
          <ul style="font-size:11px;margin:10px;">
            <li>
              Associados, por favor confira seu email e status em 
              <a href="http://associados.python.org.br/login/" target="_blank">http://associados.python.org.br/login/</a>
            </li>
          </ul>
        </li>
        <li>Estudantes deverão apresentar comprovante no credenciamento.</li>
      </ul>
      <p style="color:#000;"> 
      </p>
    </div>
  </div>
</section>
