<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include "includes/menu.html" %}
        </div>
      </div>

      {% include "includes/menu.html" %}
    </header>

    <article class="info">
      <h1>13ª conferência brasileira da comunidade Python</h1>

      <h2>06 a 11 de Outubro</h2>
      <h3>06 a 08 - Palestras | 09 e 10 - Tutoriais | 11 - Sprints</h3>

      <p>Belo Horizonte/MG</p>
      <!-- <a href="https://www.eventbrite.com.br/e/python-brasil-12-tickets-24224785987" target="_blank" class="register">INSCREVA-SE AQUI</a> -->
    </article>
  </div>
</section>
